.cursor/workflows/stripe-billing.json
{
  "name": "Geag AI Billing",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invoice.payment_succeeded",
          "invoice.payment_failed"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -1104
      ],
      "id": "82fb0215-497c-4115-aa30-0df1a5b6ebed",
      "name": "Stripe",
      "webhookId": "730ffec1-efd6-40a5-8d38-34dc86e1874c",
      "credentials": {
        "stripeApi": {
          "id": "RSFPzqWgMMeVTJqN",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "sub_id",
              "keyValue": "={{ $('Subscription Data').item.json.subscription }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        -1120
      ],
      "id": "3ae48f31-1ae4-4511-b72e-95d58a7b7719",
      "name": "Subscription",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sub_id",
              "fieldValue": "={{ $('Subscription Data').item.json.subscription }}"
            },
            {
              "fieldId": "UID",
              "fieldValue": "={{ $('Subscription Data').item.json.userId }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Subscription Data').item.json.amount }}"
            },
            {
              "fieldId": "times_billed",
              "fieldValue": "0"
            },
            {
              "fieldId": "duration",
              "fieldValue": "={{ $('Subscription Data').item.json.interval }}"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $('Subscription Data').item.json.customer }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Subscription Data').item.json.email }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            },
            {
              "fieldId": "product_name",
              "fieldValue": "={{ $('Subscription Data').item.json.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        -1120
      ],
      "id": "a12da2c4-9f41-4847-b80a-77131da7cbfb",
      "name": "Create Subscription",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7d411f3-5dbd-4cdf-b490-a1fba4c3ba50",
              "leftValue": "={{ $('Subscription').item.json.times_billed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -864
      ],
      "id": "432b56af-6df8-4a1a-9e53-03f0c855fdc6",
      "name": "First Billing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa57ca30-c7b0-482e-bd6a-fca2fe230380",
              "leftValue": "={{ $('Subscription Data').item.json.billing_reason }}",
              "rightValue": "subscription_create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "51f67f4b-f6af-406f-9c47-65fa9d84fe7b",
              "leftValue": "={{ $('User Data').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        -1104
      ],
      "id": "03750486-bb2a-4104-af5a-e7161103116b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Get the first event object from the incoming webhook\nconst event = $('Stripe').first().json;\n\n// Helper function to safely get nested properties or null\nfunction get(obj, path) {\n  return path.reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : null), obj);\n}\n\n// Helper to find a value starting with \"prod_\"\nfunction findProductId(...values) {\n  for (const val of values) {\n    if (typeof val === 'string' && val.startsWith('prod_')) return val;\n  }\n  return null;\n}\n\n// Helper to parse credits as a number, or null if not valid\nfunction parseCredits(val) {\n  const num = Number(val);\n  return isNaN(num) ? null : num;\n}\n\n// Get the invoice object\nconst invoice = get(event, ['data', 'object']);\n\n// Get the first line item (if it exists)\nconst lineItem = get(invoice, ['lines', 'data', 0]);\n\n// Extract parameters\nconst userId = get(lineItem, ['metadata', 'userId']) || get(invoice, ['metadata', 'userId']) || null;\nconst creditsRaw = get(lineItem, ['metadata', 'credits']) || get(invoice, ['metadata', 'credits']) || null;\nconst credits = parseCredits(creditsRaw);\nconst subscription = get(lineItem, ['subscription']) || get(invoice, ['subscription']) || null;\nconst amount = get(lineItem, ['amount']) || get(invoice, ['amount_due']) || null;\nconst product = get(lineItem, ['plan', 'product']) || get(lineItem, ['price', 'product']) || null;\nconst customer = get(invoice, ['customer']) || null;\nconst billing_reason = get(invoice, ['billing_reason']) || null;\nconst description = get(lineItem, ['description']) || get(invoice, ['description']) || null;\nconst interval = get(lineItem, ['plan', 'interval']) || get(lineItem, ['price', 'recurring', 'interval']) || null;\nconst email = get(invoice, ['customer_email']) || null;\n\n// Find the productId that starts with \"prod_\"\nconst productId = findProductId(\n  get(lineItem, ['plan', 'product']),\n  get(lineItem, ['price', 'product']),\n  get(lineItem, ['pricing', 'price_details', 'product']),\n  get(invoice, ['lines', 'data', 0, 'plan', 'product']),\n  get(invoice, ['lines', 'data', 0, 'price', 'product'])\n);\n\n// Set availableWebsites based on productId\nlet availableWebsitesShared = 0;\nlet availableWebsitesDedicated = 0;\nif (product === \"prod_SNQJNztdJdfp8S\") {\n  availableWebsitesShared = 1;\n  availableWebsitesDedicated = 0;\n} else if (product === \"prod_SOHQf1Ts2WvVEW\") {\n  availableWebsitesShared = 0;\n  availableWebsitesDedicated = 1;\n}\n\nconst result = {\n  userId,\n  credits,\n  subscription,\n  amount,\n  product,\n  customer,\n  billing_reason,\n  description,\n  interval,\n  email,\n  productId,\n  availableWebsitesShared,\n  availableWebsitesDedicated\n};\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        -1104
      ],
      "id": "a5c9e120-9077-4447-8d15-ef1423789507",
      "name": "Subscription Data"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_data",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1376,
        -1104
      ],
      "id": "e25e7ff7-b6b1-4072-9b51-8d800113d978",
      "name": "User Data",
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac52c685-fad2-4284-96d6-c91d0a8ccd8b",
              "leftValue": "={{ $('Subscription').first().json }}",
              "rightValue": 1,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -1120
      ],
      "id": "1b7e13b6-2487-471f-8401-cea7e054f55b",
      "name": "If Subscription Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "380988a9-7a57-475e-9cc6-12e33ee2bee3",
              "leftValue": "={{ $('Subscription Data').item.json.product }}",
              "rightValue": "prod_SOHQf1Ts2WvVEW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ac56f1f3-bed0-40e8-ac35-8aa0d4b57091",
              "leftValue": "={{ $('Subscription Data').item.json.product }}",
              "rightValue": "prod_SNQJNztdJdfp8S",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        -864
      ],
      "id": "15d6b9cb-1513-4bb3-a039-bfa14797734d",
      "name": "If Website Subscription"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "sub_id",
              "condition": "eq",
              "keyValue": "={{ $json.sub_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "times_billed",
              "fieldValue": "={{ $('Subscription').item.json.times_billed + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        -864
      ],
      "id": "836d17b1-d9d1-458d-b991-aff1ec13bd8e",
      "name": "Update Times Billed",
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_data",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "condition": "eq",
              "keyValue": "={{ $('User Data').item.json.UID }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "credits",
              "fieldValue": "={{ $('User Data').item.json.credits + $('Subscription Data').item.json.credits }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -896
      ],
      "id": "0431f560-914f-43b8-a119-37b78c4b4a73",
      "name": "Update Credits Second Billing",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_data",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "condition": "eq",
              "keyValue": "={{ $('User Data').item.json.UID }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "credits",
              "fieldValue": "={{ $('User Data').item.json.credits + $('Subscription Data').item.json.credits }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -1120
      ],
      "id": "09cb9efc-bab3-4e8d-9a61-784b0247d31a",
      "name": "Update Credits",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_data",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "condition": "eq",
              "keyValue": "={{ $('User Data').item.json.UID }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "available_sites_dedicated",
              "fieldValue": "={{ $('User Data').item.json.available_sites_dedicated + $('Subscription Data').item.json.availableWebsitesDedicated }}"
            },
            {
              "fieldId": "available_sites_shared",
              "fieldValue": "={{ $('User Data').item.json.available_sites_shared + $('Subscription Data').item.json.availableWebsitesShared }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        -1120
      ],
      "id": "347d4f5a-60f4-41a4-a26c-c22ca09f5c6d",
      "name": "Update Available Sites",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "cOtZ7cOmkYylIoKd",
          "name": "Supabase Gevi AI Live"
        }
      }
    }
  ],
  "pinData": {
    "Stripe": [
      {
        "json": {
          "id": "evt_1RWHWq09hMVkzWx38MclBYIF",
          "object": "event",
          "api_version": "2024-04-10",
          "created": 1749044331,
          "data": {
            "object": {
              "id": "in_1RWHWo09hMVkzWx3PrkCxvZM",
              "object": "invoice",
              "account_country": "US",
              "account_name": "Robert Gelhausen",
              "account_tax_ids": null,
              "amount_due": 0,
              "amount_overpaid": 0,
              "amount_paid": 0,
              "amount_remaining": 0,
              "amount_shipping": 0,
              "application": null,
              "application_fee_amount": null,
              "attempt_count": 0,
              "attempted": true,
              "auto_advance": false,
              "automatic_tax": {
                "disabled_reason": null,
                "enabled": false,
                "liability": null,
                "provider": null,
                "status": null
              },
              "automatically_finalizes_at": null,
              "billing_reason": "subscription_create",
              "charge": null,
              "collection_method": "charge_automatically",
              "created": 1749044327,
              "currency": "usd",
              "custom_fields": null,
              "customer": "cus_SR9qTZcPGKRb5h",
              "customer_address": {
                "city": null,
                "country": "US",
                "line1": null,
                "line2": null,
                "postal_code": "33710",
                "state": null
              },
              "customer_email": "robbylifecom@gmail.com",
              "customer_name": "Robert Gelhausen",
              "customer_phone": null,
              "customer_shipping": null,
              "customer_tax_exempt": "none",
              "customer_tax_ids": [],
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [],
              "description": null,
              "discount": null,
              "discounts": [],
              "due_date": null,
              "effective_at": 1749044327,
              "ending_balance": 0,
              "footer": null,
              "from_invoice": null,
              "hosted_invoice_url": "https://invoice.stripe.com/i/acct_1PKLkN09hMVkzWx3/live_YWNjdF8xUEtMa04wOWhNVmt6V3gzLF9TUjlxbEQ1QWNta3hDcEJsOTlSVUlCZ016cGIxTHQzLDEzOTU4NTEzMg0200xFEMfcI4?s=ap",
              "invoice_pdf": "https://pay.stripe.com/invoice/acct_1PKLkN09hMVkzWx3/live_YWNjdF8xUEtMa04wOWhNVmt6V3gzLF9TUjlxbEQ1QWNta3hDcEJsOTlSVUlCZ016cGIxTHQzLDEzOTU4NTEzMg0200xFEMfcI4/pdf?s=ap",
              "issuer": {
                "type": "self"
              },
              "last_finalization_error": null,
              "latest_revision": null,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "il_1RWHWl09hMVkzWx3Eq61gv4p",
                    "object": "line_item",
                    "amount": 0,
                    "amount_excluding_tax": 0,
                    "currency": "usd",
                    "description": "Trial period for AI Website Builder - 1 Site, Shared Hosting",
                    "discount_amounts": [],
                    "discountable": true,
                    "discounts": [],
                    "invoice": "in_1RWHWo09hMVkzWx3PrkCxvZM",
                    "livemode": true,
                    "metadata": {
                      "credits": "1000",
                      "userId": "5113d2d4-72d4-4179-9b62-6b1da82744d2",
                      "credits_rollover": "true"
                    },
                    "parent": {
                      "invoice_item_details": null,
                      "subscription_item_details": {
                        "invoice_item": null,
                        "proration": false,
                        "proration_details": {
                          "credited_items": null
                        },
                        "subscription": "sub_1RWHWo09hMVkzWx3z8EopSq1",
                        "subscription_item": "si_SR9qLtFAqEnoWO"
                      },
                      "type": "subscription_item_details"
                    },
                    "period": {
                      "end": 1749649127,
                      "start": 1749044327
                    },
                    "plan": {
                      "id": "price_1RWHTa09hMVkzWx3cWlkCpNj",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 100,
                      "amount_decimal": "100",
                      "billing_scheme": "per_unit",
                      "created": 1749044130,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": true,
                      "metadata": {},
                      "meter": null,
                      "nickname": null,
                      "product": "prod_SNQJNztdJdfp8S",
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": 7,
                      "usage_type": "licensed"
                    },
                    "pretax_credit_amounts": [],
                    "price": {
                      "id": "price_1RWHTa09hMVkzWx3cWlkCpNj",
                      "object": "price",
                      "active": true,
                      "billing_scheme": "per_unit",
                      "created": 1749044130,
                      "currency": "usd",
                      "custom_unit_amount": null,
                      "livemode": true,
                      "lookup_key": null,
                      "metadata": {},
                      "nickname": null,
                      "product": "prod_SNQJNztdJdfp8S",
                      "recurring": {
                        "aggregate_usage": null,
                        "interval": "month",
                        "interval_count": 1,
                        "meter": null,
                        "trial_period_days": 7,
                        "usage_type": "licensed"
                      },
                      "tax_behavior": "unspecified",
                      "tiers_mode": null,
                      "transform_quantity": null,
                      "type": "recurring",
                      "unit_amount": 100,
                      "unit_amount_decimal": "100"
                    },
                    "pricing": {
                      "price_details": {
                        "price": "price_1RWHTa09hMVkzWx3cWlkCpNj",
                        "product": "prod_SNQJNztdJdfp8S"
                      },
                      "type": "price_details",
                      "unit_amount_decimal": "0"
                    },
                    "proration": false,
                    "proration_details": {
                      "credited_items": null
                    },
                    "quantity": 1,
                    "subscription": "sub_1RWHWo09hMVkzWx3z8EopSq1",
                    "subscription_item": "si_SR9qLtFAqEnoWO",
                    "tax_amounts": [],
                    "tax_rates": [],
                    "taxes": [],
                    "type": "subscription",
                    "unit_amount_excluding_tax": "0"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1RWHWo09hMVkzWx3PrkCxvZM/lines"
              },
              "livemode": true,
              "metadata": {},
              "next_payment_attempt": null,
              "number": "CRNHWM5I-0001",
              "on_behalf_of": null,
              "paid": true,
              "paid_out_of_band": false,
              "parent": {
                "quote_details": null,
                "subscription_details": {
                  "metadata": {
                    "credits": "1000",
                    "userId": "5113d2d4-72d4-4179-9b62-6b1da82744d2",
                    "credits_rollover": "true"
                  },
                  "subscription": "sub_1RWHWo09hMVkzWx3z8EopSq1"
                },
                "type": "subscription_details"
              },
              "payment_intent": null,
              "payment_settings": {
                "default_mandate": null,
                "payment_method_options": {
                  "acss_debit": null,
                  "bancontact": null,
                  "card": {
                    "request_three_d_secure": "automatic"
                  },
                  "customer_balance": null,
                  "konbini": null,
                  "sepa_debit": null,
                  "us_bank_account": null
                },
                "payment_method_types": null
              },
              "period_end": 1749044327,
              "period_start": 1749044327,
              "post_payment_credit_notes_amount": 0,
              "pre_payment_credit_notes_amount": 0,
              "quote": null,
              "receipt_number": null,
              "rendering": null,
              "shipping_cost": null,
              "shipping_details": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "paid",
              "status_transitions": {
                "finalized_at": 1749044327,
                "marked_uncollectible_at": null,
                "paid_at": 1749044327,
                "voided_at": null
              },
              "subscription": "sub_1RWHWo09hMVkzWx3z8EopSq1",
              "subscription_details": {
                "metadata": {
                  "credits": "1000",
                  "userId": "5113d2d4-72d4-4179-9b62-6b1da82744d2",
                  "credits_rollover": "true"
                }
              },
              "subtotal": 0,
              "subtotal_excluding_tax": 0,
              "tax": null,
              "test_clock": null,
              "total": 0,
              "total_discount_amounts": [],
              "total_excluding_tax": 0,
              "total_pretax_credit_amounts": [],
              "total_tax_amounts": [],
              "total_taxes": [],
              "transfer_data": null,
              "webhooks_delivered_at": 1749044327
            }
          },
          "livemode": true,
          "pending_webhooks": 1,
          "request": {
            "id": null,
            "idempotency_key": "f09238ba-06d4-4703-a857-b4efe037b325"
          },
          "type": "invoice.payment_succeeded"
        }
      }
    ]
  },
  "connections": {
    "Stripe": {
      "main": [
        [
          {
            "node": "Subscription Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscription": {
      "main": [
        [
          {
            "node": "If Subscription Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Subscription": {
      "main": [
        [
          {
            "node": "Update Available Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Billing": {
      "main": [
        [
          {
            "node": "Update Credits Second Billing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Subscription",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Subscription Data": {
      "main": [
        [
          {
            "node": "User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subscription Exists": {
      "main": [
        [
          {
            "node": "Create Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Times Billed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Website Subscription": {
      "main": [
        [
          {
            "node": "Update Credits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "First Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Times Billed": {
      "main": [
        [
          {
            "node": "If Website Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Credits Second Billing": {
      "main": [
        []
      ]
    },
    "Update Credits": {
      "main": [
        []
      ]
    },
    "Update Available Sites": {
      "main": [
        [
          {
            "node": "Update Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc4b0cac-d7bc-4f04-84cf-74638e008f00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111fe0cf317ff7112f1d161847d1f8fd163e63487a1e445f357565b0dc341d53"
  },
  "id": "i4Jmmwi7lqbyfJic",
  "tags": [
    {
      "createdAt": "2025-05-28T14:05:33.637Z",
      "updatedAt": "2025-05-28T14:05:33.637Z",
      "id": "sLCwlQgyaELbQuJM",
      "name": "Billing"
    },
    {
      "createdAt": "2025-05-28T23:12:19.216Z",
      "updatedAt": "2025-05-28T23:12:19.216Z",
      "id": "b7zfOsvgBJjPngnb",
      "name": "Stripe"
    }
  ]
}