.cursor/rules/workflows/workflow-template.json
{
  "name": "Geag AI - Application Idea Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business-app-ideas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        -40
      ],
      "id": "d25dcb47-1032-4dab-8679-e62b4d693bef",
      "name": "Webhook",
      "webhookId": "c5b3a57b-b2b6-4a63-922e-4539935d520c"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -280,
        260
      ],
      "id": "e014468e-d14c-4ac9-aff2-13220b5e6f0b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -580,
        -40
      ],
      "id": "9635c96d-a3d1-4524-92e4-9c8e2e1162cc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "288f86a5-56d7-46d6-bcaf-8e690b881f0e",
              "name": "error",
              "value": "You do not have enough credits to complete this request. Please see the plans and pricing page or claim your free credits if you have not already.",
              "type": "string"
            },
            {
              "id": "6d1de88b-dbd1-4057-8a44-e4d09657e8b8",
              "name": "message",
              "value": "You do not have enough credits to complete this request. Please see the plans and pricing page or claim your free credits if you have not already.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        -40
      ],
      "id": "b6f47ec2-e10d-47ca-8fc3-79ac11209bfb",
      "name": "Error Code",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_data",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "condition": "eq",
              "keyValue": "={{ $('Input Fields').first().json.UID }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "credits",
              "fieldValue": "={{ $('User Credits').item.json.credits - 10 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -880,
        260
      ],
      "id": "e1075341-d8cd-43b5-9eef-2c8ed386f6d8",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "etNDtCOi7GOIm8Hz",
          "name": "Geag AI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72580f2b-1303-4357-8651-d88cf3b93fe2",
              "name": "message",
              "value": "={{ $('AI Script').item.json.text.replace(/\"/g, '') }}",
              "type": "string"
            },
            {
              "id": "302fcfcb-3f32-4023-a14c-9bee615f4cf8",
              "name": "credits",
              "value": "={{ $json.credits }}",
              "type": "number"
            },
            {
              "id": "4a4c5020-26ee-47dc-be29-ae2614cb1dcd",
              "name": "query",
              "value": "={{ $('Input Fields').item.json.query }}",
              "type": "string"
            },
            {
              "id": "7d6c5006-318f-4903-9b3c-dfc15a72a53d",
              "name": "number_ideas",
              "value": "={{ $('Input Fields').item.json.number_ideas }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        260
      ],
      "id": "94eb612d-6314-40e1-992b-709dfc500836",
      "name": "Prep Output Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7054f32-4da1-436f-adcc-f6e76d7de86c",
              "leftValue": "={{ $json.credits }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1060,
        -40
      ],
      "id": "4fe24f3c-96db-4812-82ee-91b558c7fcf5",
      "name": "User Credits"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_data",
        "filters": {
          "conditions": [
            {
              "keyName": "UID",
              "keyValue": "={{ $json.body.UID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1300,
        -40
      ],
      "id": "9e6ccdfc-8bd2-4e9a-a4b0-d7330769cf95",
      "name": "Credits",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "etNDtCOi7GOIm8Hz",
          "name": "Geag AI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb03496a-73f7-4bd4-8388-bb8769799955",
              "name": "query",
              "value": "={{ $('Webhook').first().json.body.query }}",
              "type": "string"
            },
            {
              "id": "b4afff45-9cc7-44c5-b71b-53dcd8e87cb3",
              "name": "UID",
              "value": "={{ $('Webhook').item.json.body.UID }}",
              "type": "string"
            },
            {
              "id": "51242bc8-3edd-4032-964c-8ac624e345e4",
              "name": "credits",
              "value": "={{ $json.credits }}",
              "type": "number"
            },
            {
              "id": "c30833f0-ec57-476e-8f58-5eb80423e437",
              "name": "number_ideas",
              "value": "={{ $('Webhook').item.json.body.number_ideas }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1560,
        260
      ],
      "id": "73d2dd28-07cb-4fbe-9b9d-d086f9ce79a0",
      "name": "Input Fields"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {
          "maxTokensToSample": 6000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1340,
        480
      ],
      "id": "d01354c2-c3c9-4a51-a676-20ebf95b14ad",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zaAASCfCwMQozymr",
          "name": "Groq Gevi AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Instructions\n\nYou are an advanced language model tasked with generating innovative application ideas. Carefully follow the parameters and research guidelines below to ensure the ideas are original, practical, and tailored to the specified audience. Provide your answer in markdown format.\n\n---\n\n## Task\n\nGenerate {{ $json.number_ideas }} unique application ideas. Each idea should be described in a single, well-written paragraph that provides a high-level overview of the application's purpose, key features, and intended audience.\n\nThe ideas should pertain to: {{ $json.query }}\n\n---\n\n## Parameters\n\n- **Target Audience:** The application must be designed for local businesses or a specific industry that is predominantly composed of local businesses (e.g., small retail, local food service, neighborhood clinics, local trades, etc.).\n- **Originality:** Each idea must be highly original, with unique features that distinguish it from existing solutions.\n- **Monetization:** The application should be fast to monetize (e.g., via subscriptions, SaaS, or direct sales).\n- **Competition:** Focus on ideas with low competition in the current market.\n- **Community:** The application should not require building a double-sided marketplace or community (i.e., avoid platforms that depend on both buyers and sellers or two distinct user groups).\n- **Research:** Use recent user requests and pain points found on platforms like Reddit, X (formerly Twitter), and Upwork as inspiration. Identify real needs that are currently underserved.\n\n---\n\n## Output Format\n\n- Provide each idea as a numbered list item.\n- Each idea should be a single paragraph.\n- Do not include code, implementation details, or marketing copy—focus on the concept and its unique value.\n\n---\n\n## Example Output Structure\n\n1. **[App Name]:** [One-paragraph description of the application, including its purpose, primary features, target local business or industry, and what makes it unique and quickly monetizable.]\n\n2. **[App Name]:** [Description...]\n\n3. **[App Name]:** [Description...]\n\n4. **[App Name]:** [Description...]\n\n5. **[App Name]:** [Description...]\n\n---\n\n## Additional Guidance\n\n- Be creative and think beyond typical business tools.\n- Prioritize ideas that could be built and adopted quickly by local businesses.\n- Ensure each idea is distinct from the others in the list.",
        "messages": {
          "messageValues": [
            {
              "message": "You are an advanced language model tasked with generating innovative application ideas. Carefully follow the parameters and research guidelines below to ensure the ideas are original, practical, and tailored to the specified audience."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1300,
        260
      ],
      "id": "769a3691-0a72-4d30-a1a0-4d0eae58c471",
      "name": "AI Script"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "app.gevi.ai",
            "x-real-ip": "47.207.48.37",
            "x-forwarded-for": "47.207.48.37",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "394",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:3000",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "query": "Yoga",
            "agent_role": "You are an advanced language model tasked with generating innovative application ideas. Carefully follow the parameters and research guidelines below to ensure the ideas are original, practical, and tailored to the specified audience.",
            "prompt": "",
            "UID": "7bed2e3d-8146-4be2-a98d-6b9c41c16764",
            "number_ideas": "4",
            "session_id": "abd25282-d5fd-49b2-90bf-6d71c4ab82c6"
          },
          "webhookUrl": "https://app.gevi.ai/webhook/business-app-ideas",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Prep Output Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Output Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Credits": {
      "main": [
        [
          {
            "node": "Error Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credits": {
      "main": [
        [
          {
            "node": "User Credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Fields": {
      "main": [
        [
          {
            "node": "AI Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Script": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ae904f5-cf56-4a2e-abe5-e2f4820b3e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111fe0cf317ff7112f1d161847d1f8fd163e63487a1e445f357565b0dc341d53"
  },
  "id": "etvxJrMRco8xmsaO",
  "tags": []
}